body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

h1{
background:#333;
color:white;
padding:15px;
}

.menu{
margin:20px;
}

.item{
background:white;
padding:15px;
margin:10px;
display:inline-block;
width:200px;
border-radius:5px;
box-shadow:0 0 5px gray;
}

button{
background:green;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

button:hover{
background:darkgreen;
}

input{
padding:10px;
margin:5px;
}